// General stuff that applies to the large areas of the page/site and overriding general defaults

body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	background: $col-page-bg;
}

.mdl-layout {
	position: static; // Overriding MDL default so that the bg is the window's height (not the page's)

	&:before { // The bg of the page. Using a pseudo element to make it possible to fade it out with the gradient.
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;

		background: $col-page-bg;
		background-image: $page-bg-gradient, url("../img/bg.jpg");
		background-size: auto, cover;
		background-repeat: no-repeat;
		background-position: center top;

		@media #{$query-small} {
			background-image: $page-bg-gradient, url("../img/bg-480px.jpg");
		}

		@media #{$query-medium}, #{$query-small} and (min-resolution: 2dppx), #{$query-small} and (-webkit-min-device-pixel-ratio: 2) {
			background-image: $page-bg-gradient, url("../img/bg-960px.jpg");
		}

		@media #{$query-large}, #{$query-medium} and (min-resolution: 2dppx), #{$query-medium} and (-webkit-min-device-pixel-ratio: 2) {
			background-image: $page-bg-gradient, url("../img/bg-1920px.jpg");
		}

		@media #{$query-extra-large}, #{$query-large} and (min-resolution: 2dppx), #{$query-large} and (-webkit-min-device-pixel-ratio: 2)  {
			background-image: $page-bg-gradient, url("../img/bg@2x.jpg");
		}
	}
}

.content--center {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
}
