// General stuff that applies to the large areas of the page/site and overriding general defaults

body {
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	background: $col-page-bg;
}

.mdl-layout {
	position: static; // Overriding MDL default so that the bg is the window's height (not the page's)

	&:before { // The bg of the page. Using a pseudo element to make it possible to fade it out with the gradient.
		content: '';

		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;

		background: $col-page-bg;
		background-image: linear-gradient(to bottom, rgba(#2196F3, 0.3) -70%, $col-page-bg 90%), url("../img/bg.jpg");
		background-size: auto, cover;
		background-repeat: no-repeat;
		background-position: center top;
	}
}

.content--center {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
}
