$col-primary: #2196F3;
$col-primary-dark: #1976D2;
$col-primary-light: #BBDEFB;
$col-accent: #FF9800;
$col-page-bg: #333333;
$page-bg-gradient: linear-gradient(to bottom, rgba(#2196F3, 0.3) -70%, $col-page-bg 90%);

$spacing: 32px;

$breakpoint-medium: 480px;
$breakpoint-large: 960px;
$breakpoint-extra-large: 1921px;

$query-extra-large: "(min-width: " + ($breakpoint-extra-large) + ")";
$query-large: "(min-width: " + ($breakpoint-large) + ") and (max-width: " + ($breakpoint-extra-large - 1) + ")";
$query-medium: "(min-width: " + ($breakpoint-medium) + ") and (max-width: " + ($breakpoint-large - 1) + ")";
$query-small: "(max-width: " + ($breakpoint-medium - 1) + ")";
