---
layout: default
---

<div class="mdl-layout">
	<header class="mdl-grid header">
		<div class="mdl-cell mdl-cell--12-col mdl-cell--middle header__content">
			<h1 class="header__title">Pencil Stencils</h1>
			<p>
				Free stencil collections for creating mockups using the <a href="https://github.com/prikhi/pencil">Pencil UI prototyping tool</a>.
			</p>
			<p>
				Created by <a href="https://twitter.com/nathanielnw">@nathanielnw</a>
			</p>
		</div>
	</header>


	<main class="mdl-layout__content">
		<div class="content--center mdl-grid">
			{% for stencil in site.stencils %}
			<section class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-card mdl-card--horizontal item-container">
				<div class="mdl-card__media mdl-card__media--cover" style="background-image: url('{{ stencil.image | prepend: '/img/stencils/' | prepend: site.baseurl }}')">
				</div>
				<div class="mdl-card__content">
					<div class="mdl-card__supporting-text">
						<h2 class="mdl-card__title-text">{{ stencil.name }}</h2>
						<p>
							{{ stencil.intro }}
						</p>
					</div>
					<div class="mdl-card__actions mdl-card--border">
						{% if stencil.downloadUrl %}
							<a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect" href="{{ stencil.downloadUrl }}">
								Download
						    </a>
						{%endif %}

						{% if stencil.sourceUrl %}
							{% capture id %}{{ stencil.collection }}{{ forloop.index }}{% endcapture %}
							<a class="mdl-button mdl-button--primary mdl-js-button mdl-js-ripple-effect mdl-button--icon button--right" href="{{ stencil.sourceUrl }}" id="{{ id }}">
								<i class="mdi mdi-xml"></i>
						    </a>
						{% endif %}
					</div>
				</div>
			</section>
			<span class="mdl-tooltip" for="{{ id }}">
				Source on Github
			</span>
			{% endfor %}
		</div>
	</main>

	<footer class="mdl-mini-footer">
		<div class="mdl-mini-footer--left-section">
		<div class="mdl-logo">Pencil Stencils by Nathaniel Watson</div>
			<ul class="mdl-mini-footer--link-list">
				<li><a href="#">Github</a></li>
				<li><a href="#">Twitter</a></li>
			</ul>
		</div>
	</footer>
</div>
